.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
  background-color: black;
  color: white;
  --grey: #3A4042;
  --font: Verdana, Geneva, Tahoma, sans-serif;
}

.name{
    position: absolute;
    margin-top: 20px;
    font-size: 30px;
}
.text{
    font-weight: 500;
}
.navbar {
    overflow: hidden;
    
  }
  

  .navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    
  }
  
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .disp {
    display: flex; 
}
.tx{
    font-size: 40px;
    
}
  .disp{
    margin-top: 25vh;
    margin-left: 5%;
  }
  .box{
    background-color: #f2f2f2;
  }
  .image {
    display: inline-block;
    margin-right: 70px; 
}

  .image img{
    border-radius: 20px;
    width: 400px;
    height:300px;
    margin-left: 100px;
    box-shadow: 10px -10px 20px rgba(255, 255, 0, 0.9);
  }
  /* Your existing CSS styles */

.image-container {
    
    position: relative; 
}

.image {
   
    position: absolute; 
    top: 0; 
    left: 0;
    opacity: 1; 
    transition: opacity 0.5s ease;
   
}

.image.active {
    opacity: 1; 
}
.btn{
  margin-left: 70px;
  margin-top: 20px;
  background-color:#ffff00e6 ;
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  transition: .5s;
}

.btn:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: yellow;
  z-index: 2;
  box-shadow: 10px -10px 20px rgb(175, 175, 10);
}

.bar{
  background-color:#ffff00e6 ;
  margin-top: 200px;
  width: 100%;
  height: 150px;
  color: black;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column
}

.pic {
    display: flex; 
    align-items: center; 
    margin-top: 20px;
}
.pic img{
    height: 30px;
    border-radius: 50%;
}
.message{
    font-size: 20px;

}
.mes {
    font-size: 15px;
    margin-left: 20px;
}

/*--------------------------------FOOTER---------------------------------------*/
footer{
  background-color: var(--grey);
  font-family: var(--font);
  height: 300px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.schl{
  padding: 30px 20px 0 20px;
  margin: 20px 0px 0px 30px;
}

.hd{
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
}

.info{
  margin-bottom: 20px;
  font-size: 20px;
}

.dtl{
  margin-bottom: 5px;
  font-size: 20px;
}

.foot{
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-right: 50px;
}

.fa-solid{
  font-size: 25px;
  padding-right: 10px;
}

.details{
  margin: 5px;
  font-size: 21px;
}

.details ul li{
  display: block;
  margin-top: 10px;
}

.myHead{
  margin-bottom: 20px;
  font-size: 25px;
}
