

  .body{
font-family: var(--font);
display: flex;
  }
  .body-container,
nav,
nav ul li,
form,
form p,
form h1,
label,
input[type="text"],
input[type="email"],
textarea,
button {
    font-family: var(--font);
}

/* Apply font-family to the navbar links */

  

 





/*---------------------------body content----------------------------------------*/






/*--------------------------------FOOTER---------------------------------------*/
footer{
  background-color: var(--footergray);
  font-family: var(--font);
  height: 250px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.schl{
  padding: 30px 20px 0 20px;
  margin: 20px 0px 0px 30px;
}

.hd{
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
}

.info{
  margin-bottom: 20px;
  font-size: 20px;
}

.dtl{
  margin-bottom: 5px;
  font-size: 18px;
}

.foot{
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-right: 50px;
}

.fa-solid{
  font-size: 25px;
  padding-right: 10px;
}

.details{
  margin: 5px;
  font-size: 15px;
}

.myHead{
  margin-bottom: 20px;
  font-size: 20px;
}

.details ul li{
  display: block;
  margin-top: 10px;
}


