*{
  margin: 0;
  border: 0;
  padding: 0;
}

:root{
    background-color: var(--lightGray);
    color: black;
    
    --font: Verdana, Geneva, Tahoma, sans-serif;
    --red:#ed0a10;
    --black: #171b27;
    --lightGray: #d3d0d0;
    --gray: #6e7b8f;
    --slatyGray: #1b4a81;
    --footergray:#b1adad;
  }
  .body{
font-family: var(--font);
display: flex;
  }

/*---------------------nav bar---------------------------------*/
nav{
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--slatyGray);
}

.logo{
  height: 80px;
}

nav ul li{
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: var(--black);
}

nav ul li:hover{
  background-color: var(--footergray);
  color: var(--gray);
}

  
  
form{
  height: 80vh;
  width: 35vw;
  padding: 20px;
}
 
form p {
  font-size: 15px;
  margin-bottom: 20px;
}
form h1 {
  margin-top: 0;
}

label {
    display: block; 
    margin: 10px;
    
}
 input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: var(--slatyGray);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    
}


button:hover {
    background-color: #0084ff;
    transform: scale(1.1);
}
button:active {
    background-color: #19d819;
    transform: scale(1); 
}

/*---------------------------body content----------------------------------------*/

.body-container{
  padding-top: 100px;
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: space-around;
}

.mapFrame{
  margin: 10px 0 0 20px;
  width: 700px;
  height: 450px;
  border: 0;
}


/*--------------------------------FOOTER---------------------------------------*/
footer{
  background-color: var(--footergray);
  font-family: var(--font);
  height: 250px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.schl{
  padding: 30px 20px 0 20px;
  margin: 20px 0px 0px 30px;
}

.hd{
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
}

.info{
  margin-bottom: 20px;
  font-size: 20px;
}

.dtl{
  margin-bottom: 5px;
  font-size: 18px;
}

.foot{
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-right: 50px;
}

.fa-solid{
  font-size: 25px;
  padding-right: 10px;
}

.details{
  margin: 5px;
  font-size: 15px;
}

.myHead{
  margin-bottom: 20px;
  font-size: 20px;
}

.details ul li{
  display: block;
  margin-top: 10px;
}


