*{
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--font);
}

:root{
  --font: 'Poppins', sans-serif;
  --red:#ed0a10;
  --black: #171b27;
  --lightGray: #d3d0d0;
  --gray: #6e7b8f;
  --slatyGray: #1b4a81;
  --footergray:#b1adad;
}


/* Apply font-family to the navbar links */

/*----------------nav bar----------------------*/
nav{
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1000;
}

.fa-ellipsis-vertical{
  visibility: hidden;
}

.fa-ellipsis{
  visibility: hidden;
}

.logo{
  height: 80px;
}

nav ul li{
  display: inline;
  font-size: 20px;
}

nav ul li a {
  margin-right: 10px;
  padding: 20px 30px 20px 30px;
  height: 50px;
  color: var(--slatyGray);
  width: 100px;
  font: 'Poppins', sans-serif;
  transition: .5s;
  
}

nav ul li a:hover{
  background-color: var(--slatyGray);
  color: var(--footergray);
}

/*--------------------------------body container-------------------------------*/
.body-container{
  padding-top: 100px;
  display: flex;
  height: 110vh;
  width: 100%;
  font-family: var(--font);
  justify-content: space-around;
}

.text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 50vw;
  background-color: none;
}

.text-one{
  font-size: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

.text-two{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 0 10px 10px;
}

video{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

.btn{
  background-color:var(--slatyGray) ;
  border: none;
  margin: 0;
  border-radius: 30px;
   font-size: 18px;
  color: var(--footergray);
  font-weight: bold;
  width: 200px;
  height: 60px;
  cursor: pointer;
  transition: .5s;
}

.btn:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--slatyGray);
  z-index: 2;
  box-shadow: 10px -10px 20px var(--slatyGray);
}

.image-container{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* right: 5%; */
  width: 100%;
  z-index: -1;
}

/* .image{
  margin: 30px;
} */

.image img{
  border: none;
  width:100%;
}

.image {
  position: absolute; 
  top: 0; 
  left: 0;
  opacity: 1; 
  transition: opacity 0.5s ease;
 
}

.image.active {
  opacity: 1; 
}
/*-------------------------------------------------loader-----------------------------------*/
/* HTML: <div class="loader"></div> */

.load{
  
}

.loader {
  position: absolute;
  height: 10px;
  width: 150px;
  --c:no-repeat linear-gradient(#0189f8 0 0);
  background: var(--c),var(--c),#79b5ee;
  background-size: 60% 100%;
  animation: l16 3s infinite;
  margin: 0px;
  visibility: visible;
  top: 50% !important;
  left: 30% !important; /* Use !important to prioritize the custom value */

}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}
/*---------------------------------------bar--------------------------------------*/
.bar {
  background-color: var(--slatyGray);
  font-family: var(--font);
  width: 100%;
  height: auto;
  color: black;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.pic {
  display: flex;
  transition: align-items 0.5s ease-in-out;
}

.pic img {
  height: 400px; /* Adjust height as needed */
  border-radius: 8px;
}
.pict {
  display: flex;
  /* transition: align-items 0.5s ease-in-out; */
}

.pict img {
  width: 90vw;
  height: auto; /* Adjust height as needed */
  border-radius: 8px;
  margin-top: 20px;
}

.message {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  flex-direction: column;
  color: #fff;
}

.mes {
  font-size: 35px;
  margin-left: 20px;
  padding: 20px;
}

.intro {
  max-height: 240px; /* Limit the height of the intro */
  overflow: hidden; /* Hide overflow text */
}

.read-more-btn {
  background-color: #258beb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  width: 250px;
}

.read-more-btn:hover {
  background-color: #0056b3;
}

.full-message {
  display: none; /* Initially hide the full message */
}


/*--------------------------------FOOTER---------------------------------------*/
footer{
  bottom: 0;
  background-color: var(--footergray);
  font-family: var(--font);
  height: 250px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.schl{
  padding: 30px 20px 0 20px;
  margin: 20px 0px 0px 30px;
}

.hd{
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
}

.info{
  margin-bottom: 20px;
  font-size: 20px;
}

.social-media{
  margin: 0 0 20px 0;
  font-size: 25px;
}
.social-media a{
color: black;
}
.fa-facebook{
  padding: 0 15px 0 0;
}

.foot{
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-right: 50px;
}

.fa-solid{
  font-size: 25px;
  padding-right: 10px;
}

.details{
  margin: 5px;
  font-size: 15px;
}
.details ul li a {
 color: black;
}
.myHead{
  margin-bottom: 20px;
  font-size: 20px;
}

.details ul li{
  display: block;
  margin-top: 10px;
}

/*--------------------contact page---------------------------------*/
.body-container-contact{
  padding-top: 100px;
  display: flex;
  height: 550px;
  width: 100%;
  font-family: var(--font);
  background-color: var(--lightGray);
}
  
form{
  height: 80vh;
  width: 35vw;
  padding: 20px;
  margin-left: 20px;
}

form p {
  font-size: 15px;
  margin-bottom: 20px;
  
}

form h1 {
  margin-top: 0;
  
}

label {
  display: block; 
  margin: 10px;
  
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
}


button {
  width: 100%;
  padding: 10px;
  background-color: var(--slatyGray);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  
}


button:hover {
  background-color: #0084ff;
  transform: scale(1.1);
}

button:active {
  background-color: #19d819;
  transform: scale(1); 
}

.mapFrame{
  width: 700px;
  height: 500px;
  border: 0;
}

/*----------------blog----------------------*/







/*-------------------------------about------------------------------------------*/

.about-container-one{
  width: 100%;
  padding: 150px 0 0 0;
  height: auto;
  background-color: white;
  text-align: center;
  color: black;

}

.about-container-one img{
  padding: 50px 0 20px 0;
  height: auto;
}
.mission{
  background-color: black;
  color: white;
  text-align: center;
}
.exploret{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.exploret img{
  width: 90vw;
  height: auto;
  border-radius: 20px;

}
.exploret h1 {
  font-size: 50px;
}

.history{
  padding: 50px;
  background-color: var(--gray);
  color: white;
}

.history ul{
  padding-left: 50px;
}

.history h1{
  text-align: center;
  padding-bottom: 20px;


}
.team{
  color: wheat;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;

}

.team-members {
  display: grid;
  grid-template-columns: repeat(4, 0fr); /* Adjust the number of columns based on the items per row */
  grid-gap: 0px; /* Adjust the gap between items */
}

.member{
  width: 200px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.member img{
  width: 150px;
  border-radius: 50%;
}

/* --------------------------------------------card----------------------------------------------- */
.card-view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardtxt{
  width: 65%;
}

.card{
  display: grid;
  grid-template-columns: repeat(3, 0fr); /* Adjust the number of columns based on the items per row */
  grid-gap: 0px; /* Adjust the gap between items */
}

.card-element{
  margin: 20px 10px 10px 10px;
  position: relative;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  padding-bottom: 10px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-img{
  width: 50%;
  height: 100%;
}

.card-element img{
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.card-element:hover{
  cursor: pointer;
  transform: scale(1.1);
  z-index: 2;
  transition: 2s;
  overflow-y: visible;
  border-radius: 20px;
}

#news{
  color: #0084ff;
  margin-top: 200px;
  background-color: #19d819;
  visibility: hidden;
}

/*----------------------------------------------- .Stories----------------------------------------------------- */
 


/* ---------------------------responsive-------------------------------------- */

@media (max-width: 450px) {


  nav{
    margin-top: 0px;
    display: inline;
    width: 100%;
    height: 80px;
  }

  .fa-ellipsis-vertical{
    visibility: visible;
    position: absolute;
    right: 0;
    margin: 20px;
  }

  .fa-ellipsis{
    position: absolute;
    right: 0;
    margin: 20px;
    visibility: hidden;
  }

  nav ul{
    margin-top: -8px;
    display: grid;
    margin-left: -100%;
    background-color: var(--footergray);
    width: 100%;
    text-align: center;
    transition: 1s;
    height: 300px;
  }

  nav ul li{
    padding: 10px 0 0 10px;
  }

  nav ul li a:hover{
    background-color: transparent;
  }
  
  .body-container{
    width: 100%;
    margin-top: 0;
    height: 30vh;
  }

  .text-one{
    margin-top: 0px;
    font-size: 20px;
  }

  .text-container{
    margin: 0;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  

  .btn{
    height: 40px;
    width: 120px;
    font-size: 13px;
  }

  .btn a{
    font-size: 10px;

  }

  .image-container{
    right: 0;
    width: 100%;
    background-size: cover;
  }

  footer{
    margin-top: 0px;
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
  }

  .schl{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;

  }

  .foot{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  /* --------------contact page----------------------- */

  .body-container-contact{
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .mapFrame{
    width: 100%;
    height: 50vh;
  }

  .loader{
    top: 45% !important;
    left: 40% !important;
  }


  form{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px 0 20px 0;
    width: 90%;
    height: auto;
  }


  /* -------------about------------------- */

  .about-container-one{
    width: 100%;
    margin: 0;
    height: auto;
    padding: 100px 0 0 0;
  }

  .about-container-one img{
    width: 95%;
    height: auto;
  }
  .mission{
    background-color: black;
    color: white;
    text-align: center;
  }

  .history{
    width: 100%;
    padding: 0;
  }

  .exploret{
    flex-direction: column;
    height: auto;
  }

  .exploret img{
    height: auto;
  }

  .team{
    height: auto;
  }

  .team-txt{
    width: 98%;
    padding: 0 1% 0 1%;

    text-align: center;
  }

  .team-txt h1{
    text-align: center;
  }

  .team-members{

    margin-top: 10px;
    width: 100%;
    /* grid-template-columns: repeat (2, 0fr);*/ /* Adjust the number of columns based on the items per row */
    /* grid-gap: 0px; */ /* Adjust the gap between items */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }

  .member{
    width: 45vw;
    padding: 0 10px 10px 0;
    margin: 0px;
    height: auto ;
    gap: 20px;
  }

  .member img{
    width: 90%;
  }

  /* ----------------------------blog------------------------------------ */

  .about-body-content{
    height: 180px;
  }

  .about-body-content img{
    height: auto;
  }

  .container-one{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: auto;
  }

  .containerImg{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .containerImg img{
    width: 100%;
    margin: 0;
  }

  .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-element{
    width: 85%;
    height: 500px;
  }
}