*{
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--font);
}

.body{
    
}


:root{
  --font: 'Poppins', sans-serif;
  --red:#ed0a10;
  --black: #171b27;
  --lightGray: #d3d0d0;
  --gray: #6e7b8f;
  --slatyGray: #1b4a81;
  --footergray:#b1adad;
}


/* Apply font-family to the navbar links */

/*----------------nav bar----------------------*/
nav{
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1000;
  
}

.logo{
  height: 80px;
}

nav ul li{
  display: inline;
  font-size: 20px;
}

nav ul li a {
  margin-right: 10px;
  padding: 20px 30px 20px 30px;
  height: 50px;
  color: var(--slatyGray);
  width: 100px;
  font: 'Poppins', sans-serif;
}

nav ul li a:hover{
  background-color: var(--slatyGray);
  color: var(--footergray);
}

/*--------------------------------body container-------------------------------*/
.body-container{
  padding-top: 100px;
  display: flex;
  height: 400px;
  width: 100%;
  font-family: var(--font);
  justify-content: space-around;
  background-color: var(--lightGray);
}

.text-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50vw;
}

.text-one{
  font-size: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 50px;
}

.text-two{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px 50px;
}

.btn{
  background-color:var(--slatyGray) ;
  border: none;
  margin: 20px 0 10px 50px;
  border-radius: 30px;
  font-size: 18px;
  color: var(--footergray);
  font-weight: bold;
  width: 200px;
  height: 60px;
  cursor: pointer;
  transition: .5s;
}

.btn:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--slatyGray);
  z-index: 2;
  box-shadow: 10px -10px 20px var(--slatyGray);
}

.image-container{
  position: relative;
  width: 50vw;
  height: 100%;
}

.image{
  margin: 30px;
}

.image img{
  
  border-radius: 20px;
  border: none;
  width: 500px;
  height: 350px;
  box-shadow: 10px -10px 20px var(--black);
}

.image {
  position: absolute; 
  top: 0; 
  left: 0;
  opacity: 1; 
  transition: opacity 0.5s ease;
 
}

.image.active {
  opacity: 1; 
}
/*-------------------------------------------------------------------loader-----------------------------------*/
/* HTML: <div class="loader"></div> */
.loader {
  position: absolute;
  top: 50%; /* Adjust this value based on your layout */
  left: 30%; /* Adjust this value based on your layout */
  transform: translate(-50%, -50%); /* Center the loader */
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#0189f8 0 0);
  background: var(--c), var(--c) #79b5ee;
  background-size: 60% 100%;
  animation: l16 3s infinite;
  z-index: 999; /* Ensure the loader is above other content */
}

@keyframes l16 {
  0%   { background-position: -150% 0, -150% 0; }
  66%  { background-position: 250% 0, -150% 0; }
  100% { background-position: 250% 0, 250% 0; }
}


/*---------------------------------------bar--------------------------------------*/
.bar{
  background-color:var(--slatyGray) ;
  font-family: var(--font);
  width: 100%;
  height: 150px;
  color: black;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column
}

.pic {
    display: flex; 
    align-items: center; 
    margin-top: 20px;
}
.pic img{
    height: 30px;
    border-radius: 50%;
}
.message{
    font-size: 20px;

}
.mes {
    font-size: 15px;
    margin-left: 20px;
}

/*--------------------------------FOOTER---------------------------------------*/
footer{
  bottom: 0;
  background-color: var(--footergray);
  font-family: var(--font);
  height: 250px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.schl{
  padding: 30px 20px 0 20px;
  margin: 20px 0px 0px 30px;
}

.hd{
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
}

.info{
  margin-bottom: 20px;
  font-size: 20px;
}

.social-media{
  margin: 0 0 20px 0;
  font-size: 25px;
}

.fa-facebook{
  padding: 0 15px 0 0;
}

.foot{
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-right: 50px;
}

.fa-solid{
  font-size: 25px;
  padding-right: 10px;
}

.details{
  margin: 5px;
  font-size: 15px;
}

.myHead{
  margin-bottom: 20px;
  font-size: 20px;
}

.details ul li{
  display: block;
  margin-top: 10px;
}

/*--------------------contact page---------------------------------*/
.body-container-contact{
  padding-top: 100px;
  display: flex;
  height: 550px;
  width: 100%;
  font-family: var(--font);
  justify-content: space-around;
  background-color: var(--lightGray);
}
  
form{
  height: 80vh;
  width: 35vw;
  padding: 20px;
}

form p {
  font-size: 15px;
  margin-bottom: 20px;
  
}

form h1 {
  margin-top: 0;
  
}

label {
  display: block; 
  margin: 10px;
  
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
}


button {
  width: 100%;
  padding: 10px;
  background-color: var(--slatyGray);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  
}


button:hover {
  background-color: #0084ff;
  transform: scale(1.1);
}

button:active {
  background-color: #19d819;
  transform: scale(1); 
}

.mapFrame{
  width: 700px;
  height: 500px;
  border: 0;
}

/*----------------About----------------------*/
.about-body-content {
  background-color: var(--gray);
  height: 400px;
  padding-top: 100px;
}

.container-one{
  height: 400px;
  display: flex;
  align-items: center ;
  background-color: var(--lightGray);
}

.containerImg{
  height: 400px;
  width: 50%;
}

.containerImg img{
  height: 380px;
  margin: 10px 0 10px 50px;
  border-radius: 20px;
}

.welkam{
  text-align: center;
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

.about-logo{
  width: 50px;
  border-radius: 50%;
}

.textLogo{
  position: relative;
  float: right;
  left: -425px;
  top: 10px;
}